<html>
<head>this is the profile page <br></head>
<body>Welcome to creative space <%=name%>
  <form action='/login' method='post'>
    <br>Sup there, what's your name?<br>
    <input type="text" name="email" width="30px">
    <button type="submit">ooh</button>
  </form>
 </body>
</html>
